<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
   @model  SmartQuizZApp.Models.User
</head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    @*<img id="logo" src="~/Content/Images/icon_256.png" />*@
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Smart QuizZ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Make Quiz", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - SmartQuizZ. All rights reserved. </p>
            </footer>
        </div>

   
        @Scripts.Render("~/bundles/bootstrap")
        <script src="~/Scripts/jquery-1.11.0.min.js"></script>
        <script src="~/Scripts/jquery.leanModal.min.js"></script>
        <script type="text/javascript" src="@Url.Content("/Scripts/Site.js")"></script>
        <script type="text/javascript" src="@Url.Content("/Scripts/hello.js")"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
